/* @autor: BIREME | OPAS | OMS - > Lucas Ramos */

/* Aumenta o tamanho da fonte em elementos de texto */
body, p, h1, h2, h3, .indicator-content, .data-box, .api-data-item, .breadcrumb, .container-bread-indicadores {
   font-size: 16px !important; /* Ajuste o valor conforme necessário */
   line-height: 1.6 !important; /* Linha mais espaçada para melhorar a leitura */
}

/* Especificamente para textos menores */
.indicator-content p, .data-box p {
   font-size: 16px !important; /* Ajuste o valor conforme necessário */
}

.indicator-content h3 {
   font-size: 1.2em !important; /* Aumenta títulos */
   font-weight: bold;
}

.indicator-letter {
   font-size: 7em !important; /* Tamanho das letras dos indicadores */
}


body{
	/*background: #f5f5f5;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
   font-size: 16px !important; /* Tamanho desejado */
   line-height: 1.5 !important; /* Espaçamento para legibilidade */
}
#header{
   background: #ededed;
   padding: 30px 0px 30px 0px;
   margin-top:0;
   margin-bottom: 30px;
}
#logo img{
   max-width: 150px;
}
.titleMain1{
   font-size: 30px;
   float:left;
   margin-bottom:30px;
}
.lang{
   text-align: right;
}
.lang ul{
   list-style: none;
}
.lang ul li{
   display: inline-block;
}
.lang ul li a{
   background:#fff;
   color: #31286b;
   font-size: 12px;
   padding: 5px;
   text-decoration:none;
}
.lang ul li .active{
   background:#31286b;
   color: #fff;
}
.lang ul li a:hover{
   color: #fff;
   text-decoration:none;
   background: #464bbb;
}
.btnBlue{
   background:#31286b;
   color: #fff;
   padding: 10px;
   font-size: 14px;
   border:0;
   border-radius: 3px;
}
   .btnBlue:hover{
	   background:#464bbb;
	   color: #fff;
	   text-decoration: none;
   }
.selectBoxSearch select{
   width: 100%;
   height: 100%;
   border: 0px;
   padding: 10px;
   outline: none;
}
.headerSearch{
   background: #fff;
   border: 1px solid #ddd;
   margin-top: 30px;
   clear:both;
   margin-top:20px;
}
#fieldSearch{
   padding-left: 30px;
}
.inputBoxSearch input{
   width: 100%;
   height: 100%;
   border: 0px;
   padding: 10px;
   outline: none;
}
.btnBoxSearch{
   text-align: right;
}
.btnBoxSearch button{
   background: #31286b;
   color: #fff;
   border: 0;
   padding: 10px;
   height: 50px;
   width: 50px;
}
.btnBoxSearch button:hover{
   background: #464bbb;
}
.btnBoxSearch button i{
   font-size: 30px;
}
.textBTSearch{
   display: none;
}
.country{
   margin-bottom: 10px;
   text-align: center;
   padding: 20px;
}
.country img{
   margin-bottom: 20px;
   border: 1px solid #eee;
   transition: all .2s ease;
}
.country h4{
   font-size: 14px;
}
.country:hover img{
   filter: contrast(90%);
   transform: scale(.9);
}
#footer{
   padding: 0px 0 0px 0;
   margin-top: 0px;
   border-top: 0px solid #ddd;
   color: #333;
}
#footer a{
   color: #333;
}
#footer a:hover{
   color: #999;
}
#footer img{
   max-width: 500px;
}
#filterRight{
   padding: 20px 0 0 0 ;
}
#filterRight ul{
   padding-left: 20px;
}
.boxFilter{
   top: 0;
   font-size: 14px;
   padding: 20px;
   background: #fff4f4;
   border-radius: 10px;
   /*border-bottom: 3px solid #ddd;*/
   /*border-top: 3px solid #ddd;*/
}
.boxFilter ul{
   padding: 0!important;
}
.boxFilter ul li{
   list-style: none;
   margin-bottom: 20px;
}
.boxFilter ul li{
   border-bottom: 1px solid #ddd;
   padding: 0px;
}
.box1{
   padding: 20px;
   margin-bottom: 20px;
   transition: border .5s ease;
   word-break: break-word;
}
.box1:hover{
   background-color: #fff4f4;
   border-radius: 10px;
}
.box1Title{
   font-size: 20px;
   font-weight: 600;
   position: relative;
   margin-bottom: 30px;
}
.box1Title::after{
   content: " ";
   background-color: #3f0;
   position: absolute;
   bottom: -15px;
   left: 0;
   height: 7px;
   width: 15%;
}
.text-center {
   text-align: center;
}
.show-more {
   clear: both;
}
.loading {
   display: none;
}
.hide {
   display: none;
}
#speakBtn{
   display:none;
}
@media (max-width: 768px){
   #header{
	   text-align: center;
   }
   #titleMain{
	   float:none;
	   margin-top:20px;
	   margin-bottom:0;
	   display: block;
	   float: none!important;
   }
   .lang{
	   text-align: center;
	   margin-top: 20px;
   }
	   .lang ul{
		   padding: 0;
	   }
   .headerBt{
	   margin-top: 20px;
	   text-align: center;
   }
   .inputBoxSearch input{
	   border-top: 1px solid #ddd;
   }
   .formSelect{
	   background: url(img/downMobile.svg) no-repeat #fff;
	   background-position: 100% center;
   }
   .btnBoxSearch button{
	   padding: 10px;
	   width: 100%;
   }
   .btnBoxSearch button i{
	   font-size: 15px;
   }
   .textBTSearch{
	   display: inline-block;
	   font-weight: bold;
	   padding-left: 10px;
   }
   #footer img{
	   max-width: 100%;
	   margin-top: 20px;
   }
}

/* Estilo para os tĆ­tulos */
.api-data-title {
   color: #2D358C;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
}

/* Estilo para as caixas dos itens */
.api-data-item {
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 15px;
   margin-bottom: 15px;
   background-color: #f9f9f9;
}

/* Estilo geral para a estrutura de colunas */
.container {
   display: flex;
   gap: 20px;
}

.row {
   display: flex;
   width: 100%;
}

.column-left {
   flex: 3;
}

.column-right {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

/* Estilo das caixas de dados */
.data-box {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 20px;
   margin-bottom: 20px;
	   margin: 0px 10px 0px 0px;
}

.data-box h2 {
   color: #2D358C;
}

.data-box p {
   margin: 10px 0;
}

/* Estilo dos botĆµes com Ć­cones */
.button-box {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.btn-icon {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: #2D358C;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 8px;
   font-size: 16px;
   cursor: pointer;
}

.btn-icon i {
   margin-right: 10px;
}

/* Ć¨cones - Aqui vocĆŖ pode usar FontAwesome ou outro kit de Ć­cones */
.icon-database::before {
   content: '\f1c0'; /* Exemplo de cĆ³digo FontAwesome */
}

.icon-lilacs::before {
   content: '\f02d';
}

.icon-print::before {
   content: '\f02f';
}

.icon-pdf::before {
   content: '\f1c1';
}

.icon-comment::before {
   content: '\f075';
}

.container {
   margin-top: 20px;
}

.indicators-page {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.indicator-box {
   background-color: #ffffff;
   border-radius: 10px;
   margin: 10px;
   padding: 0px 100px 0 80px;
   width: 100%;
   display: flex;
   align-items: center;
   transition: background-color 0.3s;
   border-radius: 8px;
   border: 1px solid #ddd;
}

/* Ajuste de padding para dispositivos móveis */
@media (max-width: 768px) {
   .indicator-box {
      padding: 0px; /* Aplica padding zero em dispositivos móveis */
   }
}

.indicator-box:hover {
   background-color: #fff;
   border: 1px solid #54AB31;
}

.green-title {
   color: #54AB31;
}

.indicator-letter {
   font-size: 6em;
   font-weight: regular;
   margin-right: 20px;
   color: #c6c6c6;
}

.indicator-content {
   display: flex;
   align-items: center;
}

.indicator-content i {
   color: #2D358C;
   margin-right: 100px;
   font-size: 4em;
}

.indicator-content h3 {
   margin: 0 0 0 20px;
   color: #2D358C;
}

.indicator-content p {
   margin: 5px 0 0 20px;
   color: #000;
}


.indicator-box {
   margin: 10px;
   width: 100%;
}

.btn-indicator {
   width: 100%;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 8px;
   text-align: left;
   background-color: #f9f9f9;
   cursor: pointer;
}

.indicator-code {
   font-size: 1.2em;
   font-weight: bold;
   color: #2D358C;
}

.indicator-name {
   font-size: 1em;
   color: #333;
}

.btn-indicator:hover {
   background-color: #e0e0e0;
}

/* Estilo para os títulos */
.api-data-title {
   color: #2D358C;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
}

/* Estilo para as caixas dos itens */
.api-data-item {
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 15px;
   margin-bottom: 15px;
   background-color: #FFFFFF;
}

/* Estilo geral para a estrutura de colunas */
.container {
   display: flex;
   gap: 20px;
}

.row {
   display: flex;
   width: 100%;
}

.column-left {
   flex: 3;
}

.column-right {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.data-box, .doi-box {
   background-color: #FFFFFF;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 20px;
   margin: 0 auto 20px auto; /* Centraliza horizontalmente */
   max-width: 780px; /* Define uma largura máxima */
   text-align: left; /* Centraliza o conteúdo dentro da caixa */
}

.data-box h2 {
   color: #000000;
}

.data-box p {
   margin: 10px 0;
}

/* Estilo dos botões com ícones */
.button-box {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.btn-icon {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: #ffffff;
   color: #2D358C;
   padding: 10px 15px;
   border: 1px solid #ddd;
   border-radius: 8px;
   font-size: 16px;
   cursor: pointer;
}

.btn-icon i {
   margin-right: 10px;
}

/* Ícones - Aqui você pode usar FontAwesome ou outro kit de ícones */
.icon-database::before {
   content: '\f1c0'; /* Exemplo de código FontAwesome */
}

.icon-lilacs::before {
   content: '\f02d';
}

.icon-print::before {
   content: '\f02f';
}

.icon-pdf::before {
   content: '\f1c1';
}

.icon-comment::before {
   content: '\f075';
}

.search-container {
   margin: 20px 0;
}

.search-box {
   display: flex;
   gap: 10px;
     margin: 0px 20px 0px 0px;
}

.search-box input[type="text"], .search-box input[type="number"] {
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.search-box button {
   padding: 8px 12px;
   border: none;
   background-color: #54AB31;
   color: white;
   border-radius: 4px;
   cursor: pointer;
}

.search-box button:hover {
   background-color: #0056b3;
}

.elementor-button-text {
  color: white;
}

.breadcrumb {
   background-color: #FFFFFF;
   max-width: 1140px;
   padding: 0px 0px 0px 0px;
   width: 100%;
}

.container-bread-indicadores {
   margin-top: 0px;
   width: 100%;
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px; /* Adiciona um pequeno padding para alinhamento */
}

.btn-indicator {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 10px;
   border: none;
   background-color: #ffffff; /* Cor de fundo do botão */
   border-radius: 5px; /* Bordas levemente arredondadas */
   cursor: pointer;
   margin: 0px 0px 5px 0px;
   border: 1px solid #ccc;
}

.indicator-code {
   font-weight: bold;
   margin-right: 10px; /* Espaço entre o código e o nome */
}

.indicator-name {
   flex-grow: 1;
   text-align: left;
}

/* Estilo para as letras A, B, C, D, E, F, G em verde */
.indicator-letter.highlight-letter {
   color: #54AB31;
}

/* Efeito de sublinhado verde ao passar o mouse sobre as letras */
.indicator-box:hover .indicator-letter.highlight-letter {
   text-decoration: underline;
   text-decoration-color: #54AB31;
}

.header-banner {
   background: linear-gradient(to right, #2D358C, #4A3E8F); /* Gradiente azul */
   color: #FFFFFF;
   text-align: center;
   padding: 20px;
   font-size: 24px;
   font-weight: bold;
   font-weight: 400; /* Peso da fonte */
   font-family: 'Inter', sans-serif; /* Fonte Inter */
}